---
layout: default
title:
---

{% assign sorted_interfaces = (site.interfaces | sort: 'order') %}

<div class="mod-interface">
  <h2 id="contents">Contents</h2>
  <ul class="type-list mod-toc">
    {% for interface in sorted_interfaces %}
    {% assign interface_url_name = (interface.name | downcase | replace: ' ', '_') %}

    {% include table_of_contents.html %}
    {% endfor %}
  </ul>
</div>

{% for interface in sorted_interfaces %}
  {% assign interface_url_name = (interface.name | downcase | replace: ' ', '_') %}

  {% include interface.html %}
{% endfor %}

<a class="ui-btn" href="#contents">Back to Top</a>
