<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/screen.css?v.1" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/icons.css?v.1" media="screen" />
  </head>

  <body>
    <header class="g-header">
      <div class="l-wrap">
        <h4 class="g-header-logo no-mar">Futuri LDR1 Discovery</h4>
      </div>
    </header>
