<div class="l-tile-wrap">
  <div class="l-tile-2">
    <div class="l-tile-content">
      <div class="mod-service-img-wrap s2">
        <img src="assets/img/product-screenshots/{{ service.img }}.png" />
      </div>
    </div>
  </div>
  <div class="l-tile-2">
    <div class="l-tile-content">
      <header class="s2">
        <h4 class="type-strong">{{ service.name }}</h4>
        <div>{{ service.feature }}</div>
      </header>
      <p class="type-secondary no-mar">{{ service.desc }}</p>
    </div>
  </div>
</div>
