.mod-interface {
  margin-bottom: $space*16;
  padding-bottom: $space*8;
  border-bottom: $border;
}

.mod-interface-details {
  @media #{$mq-sm} {
    padding-left: $space*10;
  }
}

.mod-interface-services {
  clear: both;
}

.mod-interface-section {
  margin-bottom: $space*10;
}

.mod-interface-img-wrap {
  border: $border;
  margin-bottom: $space*2;

  img {
    display: block;
  }
}
